@font-face {
  font-size: 16px;
}
body {
  overflow-x: hidden;
}

$fontFam-text: 'Lora', serif;
$fontMont: 'Montserrat', sans-serif;
$fontSize-text: 1rem;
$color-moderno-orange: #fa694e;

$wrapWidth: 70%;
$wrapMargin: auto;
$wrapDisplay: flex;
$wrapFlexDirection: column;

@mixin forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection){
  width: $wrapWidth;
  margin: $wrapMargin;
  display: $wrapDisplay;
  flex-direction: $wrapFlexDirection;
}

@mixin fontSimpleText($fontSize-text,$fontFam-text){
  font-size: $fontSize-text;
  font-family: $fontFam-text;
}

@mixin wrap-blocks(){

}

*{
  margin: 0;
  padding: 0;
}


.navbar_logo{
  position: fixed;
  top: 0;
  margin: 90px auto 65px;
}

.navbar_logo img{

}

.text-menu{
  text-align: center;
  color: #ffffff;
  margin-top: 90px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  width: 28%;
  height: 100%;
  background-color: #575757;
  position: fixed;
  top: 0;
  right: -28%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right .7s;
}

.change{
  right: 0;
}

header{
  z-index: 40;
  height: 130px;
  width: 100%;
  position: fixed;
  background-color: #333333;
}

.hamburger-menu{
  width: 42px;
  height: 30px;
  position: fixed;
  top: 50px;
  right: 32%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line{
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.nav-items{
  list-style: none;
  margin: 50px;
}

.nav-link{
  text-decoration: none;
  font-size: 0.9rem;
  color: #ffffff  ;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
  color: $color-moderno-orange;
}

.nav-menu{
  display: block;
}

.hamb-menu-icons{
  display: flex;
  justify-content: center;
}

.hamb-menu-icons img{
  margin: 10px;
  cursor: pointer;
}

.block-get{
  min-height: 700px;
  width: 100%;
  background-color: #333333;
}


.block-get_wrap{
 @include forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection);
}

.block-get_wrap img{
  margin-top: 20px;
  height: 88px;
  width: 89px;
  position: fixed;
  z-index: 40;
  left: 20%;
}

.block-get_wrap span{
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin:185px auto 80px;
}

.block-get_wrap p {
  font-family: $fontFam-text;
  font-size: 1.2rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
}


.block-get-button{
  height: 60px;
  width: 255px;
  background-color: $color-moderno-orange;
  border-radius: 10px;
  border: none;
  margin: 60px auto;
  outline: none;
  cursor: pointer;
}

.block-get-button:hover{
  color: #fa694e;
  background-color: #1c1c1c;
}

.block-we{
  @include forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection);
  flex-direction: row;
  padding: 80px 0;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}



.block-we-section1, .block-we-section2, .block-we-section3{
  width: 200px;
  height: 100%;
}

.block-we-section1 .circle{
  height: 107px;
  width: 107px;
  border-radius: 50%;
  //background-color:$color-moderno-orange ;
  border: 1px solid #808080;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.block-we-section2 .circle{
  height: 107px;
  width: 107px;
  border-radius: 50%;
  background-color:$color-moderno-orange ;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.block-we-section3 .circle{
  height: 107px;
  width: 107px;
  border-radius: 50%;
  border: 1px solid #808080;
  display: flex;
  text-align: center;
  margin: 0 auto;
}



.circle:hover{
  background-color: #333333;

}

.circle img{
  margin: auto;
  }

 .wetext{
   font-family: 'Montserrat', sans-serif;
   font-size: 1.2rem;
   font-weight: lighter;
   padding: 10%;
   display: flex;
   justify-content: center;
   text-align: center;
   //border: #fa694e 1px solid;

 }

.block-we p{
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   color: #808080;
  text-align: center;
 }

.block-success{
  @include forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection);
  min-height: 500px;
}

.block-success span{
  font-family:$fontMont;
  font-size: 1.5rem;
  text-align: center;
}

.block-success p {
  font-family: $fontFam-text;
  font-size: 1rem;
  color: #808080;
  text-align: center;
  margin: 20px;
}

.block-success-anim{
  min-height: 350px;
  display: flex;
}

.block-success-anim-wrap {
  display: flex;
}

.anim-section{
  height: 100% ;
  width: 45%;
  background-color: #575757;
  display: flex;
}

.allAnim {

  text-align: center;
  margin:  auto;
  justify-content: center
}

.anim {
  margin: 5px;
  width: 80px;
  height: 10px;
  background-color: #55e4d4;
  position: relative;
  border-radius: 10px;
  animation-name: some-animation;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.anim1 {
  margin: 5px;
  width: 80px;
  height: 10px;
  background-color: #55e4d4;
  position: relative;
  border-radius: 10px;
  animation-name: some-animation1;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

@keyframes some-animation {
  0% {
    background-color: aqua;
    left: 0;
  }
  25% {
    background-color: cadetblue;
    left: 25px;
  }

  50% {
    background-color: cornflowerblue;
    left: 50px;
    transform: rotate(360deg);
  }
  75% {
    background-color: darkcyan;
    left: 50px;
    //transform: scale(-1);
  }
  100% {
    background-color: aqua;
    left: 0
  }
}

@keyframes some-animation1 {
  0% {
    background-color: aqua;
    right: 0
  }

  25% {
    background-color: cadetblue;
    right: 25px;
  }

  50% {
    background-color: cornflowerblue;
    right: 50px;
    transform: rotate(360deg);
  }
  75% {
    background-color: darkcyan;
    right: 50px;
    transform: scale(-1);
  }
  100% {
    background-color: aqua;
    right: 0
  }
}

.project{
  height: 100%;
  width: 55%;
  border: 1px solid #808080;
  padding: 30px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project span{
  display: flex;
}

.project p{
  text-align: left;
  margin: 20px 0;
}

.project-button{
  height: 60px;
  width: 60%;
  background-color: $color-moderno-orange;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}

.project-button:hover{
  color: #fa694e;
  background-color: #1c1c1c;
}

.squares-wrap{
  @include forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection);
  margin-top: 2rem;
}

.squares{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.square{
  height: 16vw;
  width: 30%;
  background-color: #333333;
  margin-bottom: 35px;
}

.get-wrap{
  @include forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection);
  margin-bottom: 2rem;
}

.get-text{
  margin-bottom: 30px;
}

.get-text span{
  font-family:$fontMont;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.get-text p {
  font-family: $fontFam-text;
  font-size: 1rem;
  color: #808080;
  text-align: center;
  margin: 20px;
}
.contactSubAreaBtn{
  display: flex;
  flex-direction: column;
}

.contactName{
  background-color: #f1f4f7;
  height: 50px;
  width: 45%;
  padding:0 10px;
}

.contactEmail{
  background-color: #f1f4f7;
  height: 50px;
  width: 45%;
  padding:0 10px;

}

.contactNameEmail{
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.get-wrap form{
  width: 60%;
}
.contactNameEmail,
.contactSubAreaBtn,
.contactSubject,
.contactMessage,
input {
  border: none;
  outline: none;
}


.contactName:focus,
.contactEmail:focus,
.contactSubject:focus,
.contactMessage:focus{
  box-shadow: 5px 5px 8px #808080;
}

.contactSubject{
  height: 50px;
  width: 100% -20px;
  background-color: #f1f4f7;
  margin-bottom: 35px;
  padding: 0 10px;
}

.contactMessage{
  height: 160px;
  width: 100% -20px;
  background-color: #f1f4f7;
  margin-bottom: 35px;
  padding:10px;
}

.contactSubAreaBtn button{
  height: 50px;
  background-color: $color-moderno-orange;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}

.contactSubAreaBtn button:hover{
  color: #fa694e;
  background-color: #1c1c1c;
}

.form-contact-block{
  display: flex;
}

.block-contact{
  margin-left: 100px;
  width: 200px;
}

.block-contact span{
  font-family: $fontMont;
  font-size: 1.4rem;
}

.block-contact p{
  font-family: $fontFam-text;
  font-size: 1rem;
  color: #808080;
  margin-top: 30px;
}

.sector-address, .sector-email, .sector-phone{
  margin-bottom: 55px;
}
.sector-email a, .sector-phone a {
  display: block;
  text-decoration: none;
  color: #808080;
  margin-top: 30px;
  &:visited {
    color: #808080;
  }
}

footer{
  background-color: #333333;

}

.block-footer{
  @include forWrap($wrapWidth,$wrapMargin,$wrapDisplay,$wrapFlexDirection);
}

.footer-text-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer-block-text{
  margin: 80px auto;
  font-family: $fontMont;
  font-size: 1rem;
  color: #f1f4f7;
}

.footer-block-icon {
  width: 20%;
  justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .block-we-section1, .block-we-section2, .block-we-section3{
    margin-top: 1rem;
  }

  .block-success-anim{
    flex-wrap: wrap;
    justify-content: center;
  }

  .anim-section{

  }

  .form-contact-block{
    flex-wrap: wrap;
    justify-content: center;
  }

  .block-contact{

    //background-color: #fa694e;
    margin: 20px auto;
    text-align: center;
    width: 100%;
  }


}














